@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}
.bg-fondoPerfil{
    background-color: #424242;
}
.bg-proyects{
    background-color: #3C3D37;
}